<div class="user-info">
    <div class="user-info__title">
        Личная информация
    </div>
    <div class="user-info__form">
        <form action="/user/information" method="POST">
            <div class="user-info__form-inner">
                <div class="user-info__form-inner-left">
                    <div class="user-info__form-name">
                        <label for="firstName">Имя</label>
                    </div>
                    <div class="user-info__form-input">
                        <input type="text" id="firstName" name="firstName" placeholder="Введите имя..." required value="{{user.firstName}}">
                    </div>
                    <div class="user-info__form-name">
                        <label for="lastName">Фамилия</label>
                    </div>
                    <div class="user-info__form-input">
                        <input type="text" id="lastName" name="lastName" placeholder="Введите фамилию..." required value="{{user.lastName}}">
                    </div>
                    <div class="user-info__form-name">
                        <label for="email">Email</label>
                    </div>
                    <div class="user-info__form-input">
                        <input type="text" id="email" name="email" placeholder="Email" readonly value="{{user.email}}">
                    </div>
                </div>
                <div class="user-info__form-inner-right">
                    <div class="user-info__form-name">
                        Аватар
                    </div>
                    <img src="#" alt="">
                    <div class="user-info__form-file">
                        <input type="file">
                    </div>
                </div>
            </div>
            <div class="user-info__form-name">
                <label for="about">О себе</label>
                <div class="user-info__form-textarea">
                    <textarea id="about" name="aboutMyselfInformation" rows="8">{{user.aboutMyselfInformation}}</textarea>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>